@font-face {
  font-family: 'Nothing You Could Do';
  font-style: normal;
  font-weight: 400;
  src: local('Nothing You Could Do'), local('NothingYouCouldDo'), url(http://themes.googleusercontent.com/static/fonts/nothingyoucoulddo/v3/jpk1K3jbJoyoK0XKaSyQAZsYoLsUhJo8DEpooYVMXYU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
* {
	font-family: 'Open Sans';
}
header {
	margin-top: 20px;
	margin-bottom: 30px;
}
#header-meta {
	text-align: right;
}
#header-meta a {
	color: #000;
	font-size: 15px;
	margin-right: 6px;
	text-decoration: none;
}
#header-meta a.verde {
	color: #A4C400;
}
.verde {
	color: #A4C400;
}
#header-meta #slogan {
	margin-right: 6px;
	margin-top: 6px;
	font-size: 13px;
}
.btn-rede-social img {
	width: 32px;
}
#menu-principal {
	float: left;
	display: inline;
	width: 100%;
	height: 40px;
	background: #464646;
	margin-top: 20px;
}
#menu-principal ul:first-child {
	margin: 0px;
	margin-left: 20px;
}
#menu-principal li {
	float: left;
	display: inline;
	list-style: none;
}
#menu-principal a {
	float: left;
	display: inline;
	height: 40px;
	line-height: 40px;
	margin-left: 12px;
	margin-right: 12px;
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}
#menu-principal .dropdown-menu li {
	float: left;
	display: inline;
	width: 160px;
}
#menu-principal .dropdown-menu a {
	color: #000;
	width: 75%;
	margin: 0px;
	text-align: center;
}
#menu-principal .dropdown-menu a:hover {
	color: #FFF;
	background: #aba994;
}
#menu-principal .caret {
	margin-top: 18px;
	margin-left: 8px;
	border-top-color: #FFF;
}
#menu-principal .dropdown.open {
	background: #2b2828;
}
#logo {
	margin-top: 20px;
	margin-left: 0px;
	margin-right: 20px;
}
.banners-encima {
	float: left;
	display: inline;
	width: 620px;
	height: 410px;
}
.banners-encima ul {
	margin: 0px;
}
.banners-encima li {
	float: left;
	display: inline;
	width: 620px;
	height: 380px;
}
#banners-home {
	margin: 0px;
}
.banners-encima .slidesjs-navigation {
	display: none;
}
.slidesjs-pagination {
	float: left;
	display: inline;
	clear: both;
	margin-top: 6px !important;
}
.banners-encima .slidesjs-pagination-item {
	float: left;
	display: inline;
	width: 118px;
	height: 5px;
	margin-right: 6px;
}
.banners-encima .slidesjs-pagination-item a {
	float: left;
	display: inline;
	width: 100%;
	height: 100%;
	background: #000;
	text-indent: -9999px;
}
.banners-encima .slidesjs-pagination-item a.active {
	background: #A4C400;
}
.slidesjs-play, .slidesjs-stop {
	display: none !important;
}
.banners-embaixo a {
	float: left;
	display: inline;
	width: 300px;
	height: 300px;
	margin-right: 10px;
}
#banner-preco {
border: 4px double #ccc;
width: 292px;
height: 206px;
}
#banner-preco h2, h3 {
text-align: center;
font-family: 'Open Sans' !important;
margin-left: -1px;
font-size: 34px;
}
#banner-preco h2 {
color: #A4C400;
}
#descricao-preco h2 {
font-size: 33px !important;
margin-top: 10px;
}
#valor-banner {
margin: 0 0 5px 0;
float: left;
width: 292px;
position: relative;
top: -12px;
}
#valor-banner .valor-banner-money {
float: left;
margin-left: 15px;
color: #A4C400;
}
#valor-banner .valor-banner-linha-right hr {
width: 60px;
height: 1px !important;
color: #929292;
float: right;
border: 1px solid;
background: #929292;
margin-right: 15px;
margin-top: 30px;
}
#valor-banner .valor-banner-linha-left hr {
width: 60px;
height: 1px !important;
color: #929292;
float: left;
border: 1px solid;
background: #929292;
margin-left: 15px;
margin-top: 30px;
}
#descricao-preco h2 {
	margin-bottom: 0px;
}
#descricao-preco h3 {
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 26px;
}
#detalhes-banner {
	float: left;
	display: inline;
	position: relative;
	top: -20px;
}
.banners-embaixo {
	float: left;
	display: inline;
	height: 400px;
}
footer {
	border-top: 1px solid #000;
	margin-left: 0px;
	width: 960px;
	position: relative;
	left: -20px;
}
footer .span2 .footer-title {
	font-size: 18px;
	line-height: 28px;
	color: #A4C400;
	margin: 0px;
	text-align: left;
	text-transform: uppercase;
	margin-top: 12px;
}
footer .span2 a {
	float: left;
	display: inline;
	clear: both;
	color: #999;
	font-size: 14px;
	margin-top: 6px;
}
footer #newsletter-footer {
	margin-top: 20px;
	border: 1px solid #A4C400;
	width: 100%;
	padding: 8px;
	padding-left: 16px;
}