* {
	font-family: 'Ubuntu';
}
header {
	margin-top: 20px;
	margin-bottom: 30px;
}
#header-meta {
	text-align: right;
}
#header-meta a {
	color: #000;
	font-size: 15px;
	margin-right: 6px;
	text-decoration: none;
}
#header-meta a.verde {
	color: #A4C400;
}
.verde {
	color: #A4C400;
}
#header-meta #slogan {
	margin-right: 6px;
	margin-top: 6px;
	font-size: 13px;
}
.btn-rede-social img {
	width: 32px;
}
#menu-principal {
	float: left;
	display: inline;
	width: 100%;
	height: 40px;
	background: #464646;
	margin-top: 20px;
}
#menu-principal ul:first-child {
	margin: 0px;
	margin-left: 20px;
}
#menu-principal li {
	float: left;
	display: inline;
	list-style: none;
}
#menu-principal a {
	float: left;
	display: inline;
	height: 40px;
	line-height: 40px;
	margin-left: 12px;
	margin-right: 12px;
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}
#menu-principal .dropdown-menu li {
	float: left;
	display: inline;
	width: 160px;
}
#menu-principal .dropdown-menu a {
	color: #000;
	width: 75%;
	margin: 0px;
	text-align: center;
}
#menu-principal .dropdown-menu a:hover {
	color: #FFF;
	background: #aba994;
}
#menu-principal .caret {
	margin-top: 18px;
	margin-left: 8px;
	border-top-color: #FFF;
}
#menu-principal .dropdown.open {
	background: #2b2828;
}
#logo {
	margin-top: 20px;
	margin-left: 0px;
	margin-right: 20px;
}
.banners-encima {
	float: left;
	display: inline;
	width: 620px;
	height: 410px;
}
.banners-encima ul {
	margin: 0px;
}
.banners-encima li {
	float: left;
	display: inline;
	width: 620px;
	height: 380px;
}
#banners-home {
	margin: 0px;
}
.banners-encima .slidesjs-navigation {
	display: none;
}
.slidesjs-pagination {
	float: left;
	display: inline;
	clear: both;
	margin-top: 6px !important;
}
.banners-encima .slidesjs-pagination-item {
	float: left;
	display: inline;
	width: 118px;
	height: 5px;
	margin-right: 6px;
}
.banners-encima .slidesjs-pagination-item a {
	float: left;
	display: inline;
	width: 100%;
	height: 100%;
	background: #000;
	text-indent: -9999px;
}
.banners-encima .slidesjs-pagination-item a.active {
	background: #A4C400;
}
.slidesjs-play, .slidesjs-stop {
	display: none !important;
}