@font-face {
  font-family: 'Nothing You Could Do';
  font-style: normal;
  font-weight: 400;
  src: local('Nothing You Could Do'), local('NothingYouCouldDo'), url(http://themes.googleusercontent.com/static/fonts/nothingyoucoulddo/v3/jpk1K3jbJoyoK0XKaSyQAZsYoLsUhJo8DEpooYVMXYU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
* {
	font-family: 'Open Sans';
}
h2 {
font-size: 24px;
line-height: 36px;
}
h3 {
font-size: 18px;
line-height: 27px;
}
header {
	margin-top: 20px;
	margin-bottom: 20px;
}
#header-meta {
	text-align: right;
}
#header-meta a {
	color: #000;
	font-size: 15px;
	margin-right: 6px;
	text-decoration: none;
}
#header-meta a.verde {
	color: #A4C400;
}
.verde {
	color: #A4C400;
}
#header-meta #slogan {
	margin-right: 6px;
	margin-top: 6px;
	font-size: 13px;
}
.btn-rede-social img {
	width: 32px;
}
#menu-principal {
	float: left;
	display: inline;
	width: 100%;
	height: 40px;
	background: #464646;
	margin-top: 20px;
}
#menu-principal ul:first-child {
	margin: 0px;
	margin-left: 20px;
}
#menu-principal li {
	float: left;
	display: inline;
	list-style: none;
}
#menu-principal a {
	float: left;
	display: inline;
	height: 40px;
	line-height: 40px;
	margin-left: 12px;
	margin-right: 12px;
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}
#menu-principal li:hover {
	background: #2b2828;
}
#menu-principal .dropdown-menu li {
	float: left;
	display: inline;
	width: 160px;
}
#menu-principal .dropdown-menu a {
	color: #000;
	width: 75%;
	margin: 0px;
	text-align: center;
}
#menu-principal .dropdown-menu a:hover {
	color: #FFF;
	background: #aba994;
}
#menu-principal .caret {
	margin-top: 18px;
	margin-left: 8px;
	border-top-color: #FFF;
}
#menu-principal .dropdown.open {
	background: #2b2828;
}
#logo {
	margin-top: 20px;
	margin-left: 0px;
	margin-right: 20px;
}
.banners-encima {
	float: left;
	display: inline;
	width: 620px;
	height: 410px;
}
.banners-encima ul {
	margin: 0px;
}
.banners-encima li {
	float: left;
	display: inline;
	width: 620px;
	height: 380px;
}
#banners-home {
	margin: 0px;
}
.banners-encima .slidesjs-navigation {
	display: none;
}
.slidesjs-pagination {
	float: left;
	display: inline;
	clear: both;
	margin-top: 6px !important;
}
.banners-encima .slidesjs-pagination-item {
	float: left;
	display: inline;
	width: 118px;
	height: 5px;
	margin-right: 6px;
}
.banners-encima .slidesjs-pagination-item a {
	float: left;
	display: inline;
	width: 100%;
	height: 100%;
	background: #000;
	text-indent: -9999px;
}
.banners-encima .slidesjs-pagination-item a.active {
	background: #A4C400;
}
.slidesjs-play, .slidesjs-stop {
	display: none !important;
}
.banners-embaixo a {
	float: left;
	display: inline;
	width: 300px;
	height: 300px;
	margin-right: 10px;
}
#banner-preco {
border: 4px double #ccc;
width: 292px;
height: 206px;
}
#banner-preco h2, h3 {
text-align: center;
font-family: 'Open Sans' !important;
margin-left: -1px;
font-size: 34px;
}
#banner-preco h2 {
color: #A4C400;
}
#descricao-preco h2 {
font-size: 33px !important;
margin-top: 10px;
}
#valor-banner {
margin: 0 0 5px 0;
float: left;
width: 292px;
position: relative;
top: -12px;
}
#valor-banner .valor-banner-money {
float: left;
margin-left: 15px;
color: #A4C400;
}
#valor-banner .valor-banner-linha-right hr {
width: 60px;
height: 1px !important;
color: #929292;
float: right;
border: 1px solid;
background: #929292;
margin-right: 15px;
margin-top: 30px;
}
#valor-banner .valor-banner-linha-left hr {
width: 60px;
height: 1px !important;
color: #929292;
float: left;
border: 1px solid;
background: #929292;
margin-left: 15px;
margin-top: 30px;
}
#descricao-preco h2 {
	margin-bottom: 0px;
}
#descricao-preco h3 {
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 26px;
}
#detalhes-banner {
	float: left;
	display: inline;
	position: relative;
	top: -20px;
}
.banners-embaixo {
	float: left;
	display: inline;
	height: 400px;
}
footer {
	border-top: 1px solid #000;
	margin-left: 0px;
	width: 960px;
	position: relative;
	left: -20px;
}
footer .span2 .footer-title {
	font-size: 18px;
	line-height: 28px;
	color: #A4C400;
	margin: 0px;
	text-align: left;
	text-transform: uppercase;
	margin-top: 12px;
}
footer .span2 a {
	float: left;
	display: inline;
	clear: both;
	color: #999;
	font-size: 14px;
	margin-top: 6px;
}
footer #newsletter-footer {
	margin-top: 20px;
	border: 1px solid #A4C400;
	width: 92%;
	padding: 8px;
	padding-left: 16px;
	margin-left: 16px;
}
footer .ultimo-bloco-footer div.socialite {
	margin-top: 16px;
	margin-left: 16px;
}
.oculos-sidebar {
	float: left;
	display: inline;
	width: 100%;
	text-align: center;
	margin-bottom: 12px;
}
.oculos-sidebar a {
	float: left;
	display: inline;
	width: 100%;
	color: #000;
	font-size: 14px;
	clear: both;
	text-decoration: none;
}
.oculos-sidebar a img {
	margin-bottom: 6px;
}
.oculos-sidebar a p {
	font-weight: bold;
	font-size: 16px;
	color: #000;
	text-transform: uppercase;
}
.oculos-sidebar .btn-espelho-virtual {
	text-transform: uppercase;
	font-size: 12px;
	position: relative;
	top: -6px;
}
.form-horizontal .control-label {
	margin-right: 20px;
}
.form-horizontal .controls {
	margin-left: 0px;
}
#produtos-geral {
float: left;
display: inline;
width: 960px;
}
#produtos-geral .produto {
float: left;
display: inline;
width: 370px;
height: 310px;
margin-left: 50px;
margin-right: 50px;
position: relative;
}
#produtos-geral .produto img {
float: left;
display: inline;
width: 100%;
height: 200px;
}
#produtos-geral .produto h2 {
float: left;
display: inline;
width: 100%;
text-align: center;
font-family: 'Open Sans';
font-size: 16px;
color: #464646;
text-transform: uppercase;
line-height: 18px;
margin-top: 14px;
margin-bottom: 6px;
}
#produtos-geral .produto .produto-preco {
position: absolute;
right: 0px;
bottom: 60px;
color: #FFF;
background: url("../img/produto-preco.jpg") no-repeat;
width: 82px;
height: 34px;
line-height: 36px;
padding-left: 5px;
font-weight: 700 !important;
font-size: 18px;
}
#produtos-geral .produto .produto-rodape {
float: left;
display: inline;
clear: both;
width: 98%;
text-align: center;
margin-top: 7px;
}
#produtos-geral .produto .produto-rodape a {
margin-left: 4px;
margin-right: 4px;
color: #000;
}
#filtros-dos-produtos .input {
	float: left;
	display: inline;
	width: 114px;
}
#filtros-dos-produtos .input input {
	float: left;
	display: inline;
	margin-right: 4px;
}
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}
#cboxOverlay{background:#000;}
#colorbox{outline:0;}
#cboxTopLeft{width:14px; height:14px; background:url(../img/controls.png) no-repeat 0 0;}
#cboxTopCenter{height:14px; background:url(../img/border.png) repeat-x top left;}
#cboxTopRight{width:14px; height:14px; background:url(../img/controls.png) no-repeat -36px 0;}
#cboxBottomLeft{width:14px; height:43px; background:url(../img/controls.png) no-repeat 0 -32px;}
#cboxBottomCenter{height:43px; background:url(../img/border.png) repeat-x bottom left;}
#cboxBottomRight{width:14px; height:43px; background:url(../img/controls.png) no-repeat -36px -32px;}
#cboxMiddleLeft{width:14px; background:url(../img/controls.png) repeat-y -175px 0;}
#cboxMiddleRight{width:14px; background:url(../img/controls.png) repeat-y -211px 0;}
#cboxContent{background:#fff; overflow:visible;}
.cboxIframe{background:#fff;}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxLoadedContent{margin-bottom:5px;}
#cboxLoadingOverlay{background:url(../img/loading_background.png) no-repeat center center;}
#cboxLoadingGraphic{background:url(../img/loading.gif) no-repeat center center;}
#cboxTitle{position:absolute; bottom:-25px; left:0; text-align:center; width:100%; font-weight:bold; color:#7C7C7C;}
#cboxCurrent{position:absolute; bottom:-25px; left:58px; font-weight:bold; color:#7C7C7C;}
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible;  position:absolute; bottom:-29px; background:url(../img/controls.png) no-repeat 0px 0px; width:23px; height:23px; text-indent:-9999px;}
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}
#cboxPrevious{left:0px; background-position: -51px -25px;}
#cboxPrevious:hover{background-position:-51px 0px;}
#cboxNext{left:27px; background-position:-75px -25px;}
#cboxNext:hover{background-position:-75px 0px;}
#cboxClose{right:0; background-position:-100px -25px;}
#cboxClose:hover{background-position:-100px 0px;}
.cboxSlideshow_on #cboxSlideshow{background-position:-125px 0px; right:27px;}
.cboxSlideshow_on #cboxSlideshow:hover{background-position:-150px 0px;}
.cboxSlideshow_off #cboxSlideshow{background-position:-150px -25px; right:27px;}
.cboxSlideshow_off #cboxSlideshow:hover{background-position:-125px 0px;}
#informacoes-do-oculos #nome-do-oculos {
	text-align: center;
	width: 100%;
	font-size: 22px;
	line-height: 24px;
	margin: 0px;
	color: #706c6c;
}
#informacoes-do-oculos #cor-do-oculos {
	float: left;
	display: inline;
	width: 100%;
	text-align: center;
	margin: 0px;
	line-height: 24px;
	font-size: 20px;
	text-transform: uppercase;
	color: #bfbfbf;
	margin-top: 4px;
}
.linha-com-titulo {
	float: left;
	display: inline;
	width: 100%;
	text-align: center;
	position: relative;
}
.linha-com-titulo .preco {
	display: inline-block;
	text-align: center;
	background: #FFF;
	padding: 6px;
	position: relative;
	z-index: 999;
	color: #a4c400;
	font-size: 24px;
	top: 4px;
}
.linha-com-titulo hr {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	clear: both;
	height: 3px;
	background: #CCC;
}
.linha-com-titulo .texto {
	display: inline-block;
	text-align: center;
	background: #FFF;
	padding: 6px;
	position: relative;
	z-index: 999;
	font-size: 16px;
	top: 4px;
}
#vantagens-do-oculos {
	margin: 0px;
}
#vantagens-do-oculos li {
	float: left;
	display: inline;
	width: 100%;
	margin-left: 32px;
	margin-bottom: 4px;
}
#vantagens-do-oculos li.cinza {
	color: #a4a4a4;
	font-size: 13px;
}
#btn-adicionar-ao-carrinho {
	margin-top: 10px;
	width: 88%;
	border-radius: 0px;
	background: #a4c400;
	text-transform: uppercase;
}
#btn-prove-virtualmente {
	width: 88%;
	text-transform: uppercase;
	border-radius: 0px;
	background: #afafaf;
	margin-bottom: 10px;
}
#vistas-oculos {
	margin-top: 10px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
}
#vistas-oculos a {
	color: #a4c400;
	font-weight: bold;
}
.oculos-outras-cores a {
	float: left;
	display: inline;
	margin-right: 12px;
	margin-bottom: 12px;
}
hr.linha {
	float: left;
	display: inline;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 3px;
	background: #CCC;
}
.order-block-title {
	float: left;
	display: inline;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
	font-size: 18px;
	text-transform: uppercase;
	border-top: 1px solid #aba994;
	border-bottom: 1px solid #aba994;
	padding-top: 6px;
	padding-bottom: 6px;
	color: #A4C400;
}
#OrderIndexForm div.checkbox label {
	font-size: 12px;
}
.bloco-endereco input[type="text"] {
	width: 80%;
}